@media(max-width: 1200px) {
    .container {
        width: 900px;
    }

    .nav {
        gap: 25px;
    }

    .header {
        gap: 30px;
    }

    .movies_nav {
        display: block;
        .line {
            display: none;
        }
        .genres_nav {
            width: 900px;
        }
    }

    .movies_block {
        margin-bottom: 80px;
    }

    .movies_block img {
        border-radius: 10px;
        width: 200px;
        height: 310px;
    }

    .movies_block p {
        font-size: 15px;
        line-height: 18.58px;
    }
    
    .show_all_images {
        width: 164px;
        height: 59px;
    }

    .trailer_top {
        h1 {
            font-size: 50px;
            font-weight: 900;
            line-height: 50.96px;
        }
    }
    .vid {
        width: 900px;
        height: 470px;
    }
    .trailers_list {
        width: 900px;
    }
    .top_side {
        display: block;
        margin-bottom: 30px;
        h1 {
            font-size: 45px;
            font-weight: 900;
            line-height: 50.96px;
            margin-bottom: 10px;
        }
    }
    .act_img {
        width: 264.17px;
        height: 264.17px;
    }
    .persons_rate {
        width: 295.66px;
        height: 264.17px;
    }
    .first_page_footer {
        h1 {
            font-size: 35px;
            font-weight: 900;
            line-height: 44.59px;
        }
        input {
            width: 378px;
            height: 62px;
        }
        .email_submit {
            width: 164px;
            height: 62px;
        }
        .logo_img {
            margin-bottom: 16px;
        }
    }
    .search_modal {
        left: 15%;
        .search_inp {
            width: 700px;
            height: 65px;
        }
        .search_answer_div {
            width: 700px;
        }
        .search_answer {
            max-height: 650px;
        }
        .close_modal {
            font-weight: 600;
        }
    }
}

@media (max-width:992px) {
    .container {
        max-width: 700px;
    }
    .nav {
        width: 483px;
        overflow: auto;
        scrollbar-width: none;
    }
    .movies_nav {
        display: block;
        
        .genres_nav {
            width: 700px;
        }
    }
    .movies_block {
        grid-template-columns: repeat(3, 210px);
        img {
            height: 297.89px;
        }
        p {
            font-size: 14px;
            font-weight: 700;
            line-height: 18.58px;
        }
    }
    .vid {
        width: 659px;
        height: 400px;
    }
    .trailers_list {
        width: 700px;
    }
    .act_img {
        width: 321.09px;
        height: 321.09px;
    }
    .actors_block {
        flex-direction: column;
    }
    .first_second_position {
        justify-content: center;
    }
    .persons_rate {
        margin-left: 15px;
        width: 661px;
        height: 266px;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 500px;
    }
    .movies_nav {
        h1 {
            font-size: 45px;
        }
    }
    .margin {
        margin-bottom: 20px;
    }
    .menu_div {
        width: 425px;
        height: 441px;
        background: rgba(30, 37, 56, 1);
        opacity: .9;
    }
    .menu_modal {
        border: 0;
        overflow: hidden;
        left: 13%;
    }
    .movies_nav {
        .genres_nav {
            width: 500px;
        }
    }
    .movies_block {
        grid-template-columns: repeat(2, 210px);
        img {
            height: 297.89px;
        }
    }
    .trailer_top {
        h1 {
            font-size: 35px;
        }
    }
    .trailers_list {
        max-width: 500px;
    }
    .act_img {
        width: 280px;
        height: 280px;
    }
    .persons_rate {
        max-width: 470px;
    }
    .subscribe {
        input {
            width: 200px;
        }
    }
    .search_modal {
        left: 20px;
        .search_inp {
            max-width: 400px;
        }
    }
    .search_answer_div {
        max-width: 450px;
        max-height: 100px;
        .searchPoster {
            max-height: 80px;
            object-fit: contain;
            border-radius: 10px;
        }
    }
    .first_page_footer {
        h1 {
            font-size: 30px;
        }
    }
    .close_menu {
        position: absolute;
        color: white;
        background: none;
        border: 0;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        font-size: 15px;
    }
    .first_page_footer {
        input {
            max-width: 250px;
        }
        .email_submit {
            max-width: 130px;
        }
    }
}


@media (max-width:576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .movies_nav {
        text-align: center;
    }
    .movies_block {
        grid-template-columns: repeat(2, 170px);
        img {
            width: 178.08px;
            height: 242.9px;
        }
    }
    .genres_modal_btn {
        width: 43px;
        height: 43px;
        border-radius: 10px;
        border: 0;
    }
    .movies_section {
        display: flex;
        text-align: center;
        margin-right: 0;         
    }
    .movies_nav {
        display: flex;
        gap: 20px;
        h1 {
            display: flex;
            text-align: center;
            font-size: 30px; 
        }
    }
    .genres_modal {
        width: 425px;
        height: 441px;
        background: rgba(30, 37, 56, 1);
        opacity: .9;
        color: white;
        text-align: center;
        border: 0;
        left: 5%;
    }
    .trailers_list {
        max-width: 360px;
    }
    .persons_rate {
        width: 328px;
        height: 266px;
        margin-left: 10px;
    }
    .top_side {
        h1 {
            font-size: 35px;
        }
    }
    .act_img {
        width: 179px;
        height: 179px;
    }
    .search_modal {
        .search_inp {
            max-width: 280px;
        }
        .search_answer_div {
            max-width: 320px;
            max-height: 80px;
        }
        .searchPoster {
            max-height: 60px;
        }
    }
    .years_btn {
        width: 43px;
        height: 43px;
        border-radius: 10px;
        border: 0;
    }
}