* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgba(30, 37, 56, 1);
}

.f_page_body {
    width: 100%;
    height: 100%;
    background: rgba(30, 37, 56, 1);
    background-image: url("/img/backimg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-blend-mode: overlay;
}

.movies_body {
    width: 100%;
    height: 100%;
    background: rgba(30, 37, 56, 1);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-blend-mode: overlay;
}

.actors_page_body {
    width: 100%;
    height: 100%;
    background: rgba(30, 37, 56, 1);
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.header {
    display: flex;
    /* gap: 160px; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 25px 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    color: rgba(255, 255, 255, 1);

    a {
        font-family: Qanelas;
        font-size: 17px;
        font-weight: 700;
        line-height: 21.06px;
        text-decoration: none;
    }

}

a {
    text-decoration: none;
}

.search_and_signin {
    display: flex;
    gap: 12px;
    input {
        width: 200px;
        height: 43px;
        border-radius: 10px;
        opacity: 0px;
        background: rgba(255, 255, 255, 1);
        border: 0;
    }

    button {
        width: 108px;
        height: 43px;
        border-radius: 10px;
        opacity: 0px;
        background: rgba(54, 87, 203, 1);
        color: white;
        border: 0;
    }

}

.btn_shadow {
    box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);
    transition: .2s ease-in;
}

input {
    padding-left: 10px;
}

input::placeholder {
    padding-left: 15px;
}

.backimg {
    background-position: center;
    background-repeat: no-repeat;
}

.line {
    width: 51.5px;
    height: 0px;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 1)
}

.movies_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    h1 {
        font-family: Qanelas;
        font-size: 60px;
        font-weight: 900;
        line-height: 82.81px;
        text-align: left;
            
    }
}

.genres_nav {
    display: flex;
    gap: 50px;
    max-width: 704px;
    overflow-x: auto;
    scrollbar-width: none;
    text-wrap: nowrap;
    a {
        color: grey;
    }
}

.first_sec {
    margin-top: 60px;
    margin-bottom: 65px;
}

.movies_block {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    gap: 23px;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 130px;
    img {
        height: 462px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 12px;
    }
    p {
        font-family: Qanelas;
        font-size: 18px;
        font-weight: 700;
        line-height: 22.3px;
        text-align: left;
            
    }
}

.show_all_images {
    width: 200px;
    height: 71px;
    margin-bottom: 55px;
    border-radius: 10px;
    opacity: 0px;
    color: rgba(255, 255, 255, 1);
    background: none;
    border: 3px solid rgba(255, 255, 255, 1);
    font-family: Qanelas;
    font-size: 18px;
    font-weight: 700;
    line-height: 29.97px;
    text-align: center;
}

.trailer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: Qanelas;
        font-size: 65px;
        font-weight: 900;
        line-height: 82.81px;
        text-align: left;
        color: white;
    }
    .show_all_trailers {
        width: 148px;
        height: 27px;
        opacity: 0px;
        color: white;
        background: none;
        border: 0;
        font-family: Qanelas;
        font-size: 20px;
        font-weight: 700;
        line-height: 27.26px;
            
    }
}

.genres_a {
    cursor: pointer;
}

.vid {
    width: 1300px;
    height: 650px;
    border: 0;
    border-radius: 15px;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.trailers_list {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 1300px;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.traielrs_block {
    position: relative;
    width: 342px;
    height: 245px;
    border-radius: 15px;
    object-fit: cover;
}

.movies_name {
    font-family: Qanelas;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.3px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 12px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.top_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 65px;
    h1 {
        font-family: Qanelas;
        font-size: 65px;
        font-weight: 900;
        line-height: 82.81px;
        text-align: left;
    }
    .release_date {
        display: flex;
        gap: 20px;
        color: grey;
    }
}

.swiper-slide {
    position: relative;
    p {
        color: white;
        margin-top: 12px;
        font-family: Qanelas;
        font-size: 18px;
        font-weight: 700;
        line-height: 22.3px;
        text-align: left;
    }
}


.swiper-img {
    position: relative;
    border-radius: 15px;
    width: 339.39px;
    height: 462.91px;
    object-fit: cover;
}

.votes_div {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 12.46px;
    right: 12.45px;
    width: 62.28px;
    height: 33.21px;
    border-radius: 5px;
    background: rgba(75, 203, 54, 1);
    font-family: Qanelas;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.3px;
}

.year {
    cursor: pointer;
}

.active {
    color: white;
}

.first_second_position {
    display: flex;
    gap: 23px;
}

.act_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.actors_block {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 23px;
}

.persons_rate {
    width: 400px;
    height: 400px;
    color: white;
    overflow-y: auto;
    scrollbar-width: none;
    background: rgba(27, 33, 51, 1);
}

.popularity {
    color: rgba(242, 246, 15, 1);
    margin-top: 5px;
    margin-bottom: 5px;
}

.div_person{
    margin-bottom: 5px;  
    border-bottom: 1px solid grey;  
    padding-left: 10px;
}

.email_submit {
    width: 182px;
    height: 71px;
    border-radius: 10px;
    background: rgba(242, 246, 15, 1);
    font-family: Qanelas;
    font-size: 18px;
    font-weight: 700;
    line-height: 29.97px;
}

.first_page_footer {
    img {
        margin-bottom: 55px;
    }
    h1 {
        margin-bottom: 25px;
    }
    p {
        margin-bottom: 34px;
    }
    color: white;
    input {
        width: 425px;
        height: 71px;
        border-radius: 10px;
    }
}

/* movies page */


.about_movie {
    display: flex;
    justify-content: center;
    color: white;
    gap: 50px;
}

.movie_poster {
    width: 395px;
    height: 539px;
    border-radius: 10px;
}

.text {
    max-width: 500px;
    margin-bottom: 30px;
}

.watch_trailer_btn {
    width: 260px;
    height: 71px;
    background: none;
    font-family: Qanelas;
    font-size: 18px;
    font-weight: 700;
    line-height: 29.97px;
    color: white;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 1)
}

.mv_title {
    font-family: Qanelas;
    font-size: 65px;
    font-weight: 900;
    line-height: 82.81px;
    text-align: left;
    margin-bottom: 70px;
}

.what_about {
    margin-top: 50px;
}

.movie_genres_section {
    display: flex;
    justify-content: center;
    font-family: Qanelas;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.01px;
    text-align: left;
    margin-top: 100px;
    gap: 65px;
    color: white;
    p {
        margin-bottom: 20px;
    }
}

.actor_img {
    width: 248px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}

.div_for_trailers {
    position: relative;
}

.play_button {
    position: absolute;
    top: 35%;
    left: 45%;
}

.actors_section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 248px);
    gap: 30px;
}

.actor_name {
    font-family: Qanelas;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.3px;
    text-align: left;
    color: white;
    margin-top: 15px;
}

.character{
    font-family: Qanelas;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.04px;
    text-align: left;
    color: rgba(242, 246, 15, 1);
}

.poster_sec {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    gap: 23px;
    img {
        width: 400px;
        border-radius: 10px;
    }
}

.poster_img {
    max: 700px;
    max-height: 200px;
}

.actors_section {
    margin-top: 50px;
    margin-bottom: 82px;
}

.roles {
    color: white;
    font-family: Qanelas;
    font-size: 65px;
    font-weight: 900;
    line-height: 82.81px;
    text-align: left;
}

.videos_types {
    display: flex;
    justify-content: center;
    gap: 15px;
    .vid_type {
        width: 110px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background: none;
        color: grey;
    }
}

.vid_type_active {
    background: rgba(54, 87, 203, 1);
    color: white;
}

.movie_vid {
    margin-top: 20px;
    margin-bottom: 40px;
}

.vidTip {
    width: 1300px;
    height: 650px;
    border: 0;
    border-radius: 15px;
}

.div_for_vidTip {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.tip_video {
    width: 1300px;
    height: 650px;
    border: 0;
    border-radius: 15px;
}

.actor_poster {
    width: 395px;
    height: 539px;
    border-radius: 10px;
}

.bio_div {
    display: flex;
    max-width: 500px;
}